:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070022;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/ReactBG.png');
  background-position-y: center;
}


body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 4.2em;
  line-height: 0.5;
}

