.card {
  position: relative;

  width: 70vh;
  height: 35vh;
  margin: 5vh;
  padding: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #0f072e;
  border-style: dotted;
  border-color: #b3a8f0;
  border-radius: 10px;
  overflow: hidden;

  transition: ease-in-out 100ms;
}

.card:hover {
  background-color: #221652;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.file {
  color: greenyellow;
}

.imagePreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  z-index: 1; /* Set a higher z-index to overlay the image on top of the content */
  transition: ease-in-out 100ms;
}

.imagePreview:hover {
  opacity: 0.25;
}
